@model IEnumerable<AdminUserViewModel>
@{
    ViewData["Title"] = "User Management";
    int sn = 1;
}

<div class="container">
    <h1>User Management</h1>

    

    <table class="table table-striped">
        <thead>
            
            <tr>
                 <th>S.N</th> 
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          
            @foreach (var user in Model)
            {
               
                <tr>
                    <td>@sn</td>
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@user.UserType</td>
                   
                    <td>
                        @if (user.EmailConfirmed)
                        {
                            <span class="badge bg-success">Verified</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">Pending</span>
                        }
                    </td>
                    <td>
                        <a asp-action="UserDetail" asp-route-id="@user.Id" class="btn btn-sm btn-info">Details</a>

                        <a asp-action="UserDisable" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Disable</a>
                        @* <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm">Delete</a> *@
                    </td>
                </tr>
                sn++;
            }
        </tbody>
    </table>
</div>